<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>KatalogServlet</servlet-name>
        <servlet-class>controllers.KatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservasiServlet</servlet-name>
        <servlet-class>controllers.ReservasiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfilServlet</servlet-name>
        <servlet-class>controllers.UpdateProfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controllers.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovalServlet</servlet-name>
        <servlet-class>controllers.ApprovalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadResiServlet</servlet-name>
        <servlet-class>controllers.UploadResiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TambahFasiilitasServlet</servlet-name>
        <servlet-class>controllers.TambahFasiilitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KelolaFasilitasServlet</servlet-name>
        <servlet-class>controllers.KelolaFasilitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PengembalianServlet</servlet-name>
        <servlet-class>controllers.PengembalianServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KatalogServlet</servlet-name>
        <url-pattern>/katalog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservasiServlet</servlet-name>
        <url-pattern>/ReservasiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfilServlet</servlet-name>
        <url-pattern>/UpdateProfilServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovalServlet</servlet-name>
        <url-pattern>/ApprovalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadResiServlet</servlet-name>
        <url-pattern>/UploadResiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TambahFasiilitasServlet</servlet-name>
        <url-pattern>/TambahFasiilitasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KelolaFasilitasServlet</servlet-name>
        <url-pattern>/KelolaFasilitasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PengembalianServlet</servlet-name>
        <url-pattern>/PengembalianServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
